<app-navbar3></app-navbar3>
<div class="home-container">
  <h2>Statistique de notre application</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card statistic-card">
        <div class="card-body">
          <h5 class="card-title">Total Participants</h5>
          <p class="card-text">{{ totalParticipants }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card statistic-card">
        <div class="card-body">
          <h5 class="card-title">Total Events</h5>
          <p class="card-text">{{ totalEvents }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card statistic-card">
        <div class="card-body">
          <h5 class="card-title">Total Organisateurs</h5>
          <p class="card-text">{{ totalOrganizers }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
